*
{
    margin:0;padding:0;
}
html,body,.container
{
    height:100%;
}
.container
{
    display:table;
    width: 100%;
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom: 0px;
}
header
{
    background: #34495e;
    height: 50px;
}

a{
    color: #ffffff;
}

a,h5{
    color:#ff0000;
}


.row
{
    height: 100%;
    display: table-row;
}
.col-md-3.no-float, .col-md-9.no-float {
    float: none; /* thanks baxabbit */
}
.col-md-3 /* left nav */
{
    display: table-cell;
    background: #ecf0f1;
    width: 25%; 
}
.col-md-9 /* content area */
{
    display: table-cell;
    background: #ffffff;
    width: 75%;
    padding-top: 45px;
    padding-right: 0px;
}

.img-circle {
    border-radius: 50%;
}

.media {
    border: 2px solid #ecf0f1;
}


.navbar-right{
    padding-right: 10px;
}

.well{
    width: 75%;
}

form{
    display: inline-block;
    text-align: center;
}
.authbox{
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

span.displayed2 {
    display: block;
    margin-left: auto;
    margin-right: auto }

#thumbnailwrapper {
    color:#2A2A2A;margin-right:5px;
    border-radius:0.2em;
    margin-bottom:5px;
    background-color:#ecf0f1;
    padding:5px;
    border-color:#ecf0f1;
    border-style:solid;  
    border-width:thin;
    font-size:15px
    text-align: center;
}

#artiststhumbnail a img {
    display : block;
    margin : auto;
}

i{
    font-family: Pacifico;
    font-size: 25px;
    font-variant: normal;
    font-weight: 500;
    line-height: 15px;
}

#navlogo{
    color: white;
}

#foot{
    position:fixed !important;
    width:100%;
    bottom:75;
    text-align:center;
    padding:5px 0;
    background:#f0f0f0;
    border-top:1px solid #666;
}

#adder{
    margin:0 auto;
    display:block;
}

#AppSetBtn{
    text-align: right;
}

#authlink{
    color:#000000;
}

#plz{
    margin: 0 auto;
}

#displayed2{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.well-sm{
    width: 20%;
}